<div id="park-data" style="display:none;">
  <%= parks.to_json %>
</div>

<% parks.each do |park| %>
  <div style="display:none" id="park-pane-<%=park.id%>" class="park-pane">
    <h1><%= park.formal_name %></h1>
    <img src=<%= "http://www.denvergov.org/portals/747/#{park.photo}" %> width="144" height="144" class="img-rounded"</img>
    <p><%= park.facilities %></p>
  </div>
<% end %>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
</script>

<script type="text/javascript">
  function markerClick(marker) {
    $(".park-pane").hide();
    var $map = $("#map-canvas");
    var styles = {
           position : 'absolute',
           'z-index': 999999,
           top: ($map.position().top + 40),
           left: ($map.position().left + 20)
    }
    $(".park-pane").css(styles);
    $("#park-pane-"+marker.park.id).show();
  };
      function initialize() {
        var mapOptions = {
          center: { lat: 39.75, lng: -105},
          zoom: 12,
          panControl: false,
          zoomControl: true,
          zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL,
            position: google.maps.ControlPosition.RIGHT_CENTER
          },
          mapTypeControl: false,
          scaleControl: true,
          streetViewControl: false,
          overviewMapControl: true,
          styles:[{"stylers":[{"saturation":-100}]},{"featureType":"water",
                                                     "elementType":"geometry.fill",
                                                     "stylers":[{"color":"#0099dd"}]},
                                                     {"elementType":"labels",
                                                     "stylers":[{"visibility":"on"}]},
                                                     {"featureType":"poi.park",
                                                     "elementType":"geometry.fill",
                                                     "stylers":[{"color":"#aadd55"}]},
                                                     {"featureType":"road.highway",
                                                     "elementType":"labels",
                                                     "stylers":[{"visibility":"on"}]},
                                                     {"featureType":"road.arterial",
                                                     "elementType":"labels.text",
                                                     "stylers":[{"visibility":"on"}]},
                                                     {"featureType":"road.local",
                                                     "elementType":"labels.text",
                                                     "stylers":[{"visibility":"on"}]},
                                                     {}]
        };
        
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);


        var parksJson = $("#park-data").html();
        var parks = JSON.parse(parksJson);
        var markers = [];
        for (i in parks) {
          var park = parks[i]
          var marker = new google.maps.Marker({
                         position: {lat: park.latitude, lng: park.longitude},
                         map: map,
                         park: park,
                         title: park.formal_name
                        });
          markers.push(marker);

          for (var i = 0; i < markers.length; i++) {
           var marker = markers[i];
           google.maps.event.addListener(marker, 'click', function() {
               map.setZoom(15);
               map.setCenter(this.getPosition());
               markerClick(this);
           });
          };
        }

      };
      google.maps.event.addDomListener(window, 'load', initialize);
</script>
