
<div class="container-navbar">
  <div id="title">
    <h1>mile high parks</h1>
  </div>


  <div class="text-center search-nav">
    <%= search_form_for @search, html: {class: "form-inline input-md"} do |f| %>
      <div class="field">
        <h4>search facilities</h4>
        <%= f.collection_select :facilities_cont, Park::FACILITIES, :to_s, :to_s,
          { :include_blank => true }, {class: 'form-control'} %>
        <%= f.submit "Search", class: "btn btn-success btn-md",
                               style: "margin-left: 5px; background-color: #3085c3; border-color: #3085c3"%>
        <%= link_to "Clear", parks_path, class: "btn btn-warning btn-md",
                                         style: "margin-left: 5px; background-color: #494949; border-color: #494949" %>
      </div>
    <% end %>
  </div>
</div>

</br>
<div id="map-canvas"></div>
</br>

<table id="Parks" class="table table-condensed table-striped table-hover text-center">
  <thead>
    <tr>
      <th class="text-left"><%= sort_link @search, :formal_name, "Park Name" %></th>
      <th class="text-left"><%= sort_link @search, :location, "Location" %></th>
      <th class="text-left"><%= sort_link @search, :latitude, "latitude" %></th>
      <th class="text-left"><%= sort_link @search, :longitude, "longitude" %></th>
    </tr>
  </thead>

<div class="container text-center">
  <br>
  <br>
  <%= will_paginate @parks, renderer: BootstrapPagination::Rails %>
  <br>
  <br>
</div>

  <tbody>
    <% @parks.each do |park| %>
      <tr>
        <td class="text-left"><%= link_to(park.formal_name, park) %></td>
        <td class="text-left"><%= park.location %></td>
        <td class="text-left"><%= park.latitude %></td>
        <td class="text-left"><%= park.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
